.title {
  background: blue;
  padding: 10px;
  color: white;
  font-weight: 700;
}

h6 {
  margin-bottom: 0;
}

.container {
  padding: 5%;
  max-width: 300px;
}

.container-content {
  display: flex;
}

.post-title {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid black;
}

.post-content {
  padding: 10px;
  background: gray;
}

.authors {
  display: inline-block;
  border-bottom: 1px solid black;
  border-right: 1px solid gray;
}